.main-div {
  position: relative;
    max-width: 100%;
    min-width: 27em;
    padding: 4.5em 3em 3em 3em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    opacity: 0.95;
    text-align: center;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
}
.work-title {
  font-size: 30px;
  color: #6600ff;
}
#greeting {
  font-size: 5em;
}
#intro {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
#links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.link {
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.profile {
  width: 150px;
  height: 200px;
  display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #ffffff;
}
.avatar {
  position: relative;
display: block;
margin-bottom: 1.5em;
margin-top: 100px;
}
.avatar-text {
  text-align: center;
}
.icons {
  display: flex;
  justify-content: center;
}
.copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.work-image {
  width: 300px;
  height: 300px;
}
.image {
  width: 300px;
  height: 300px;
}
.inner {
  margin-bottom: 40px;
}
.contact-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.contact-div {
  margin-left: auto;
  margin-right: auto;
}
.work-description {
  margin-bottom: 10px;
  color: #0099ff;
  font-style: italic;
}
.work-bullet {
  font-weight: 400;
}
.article {
  margin-top: 20px;
}
.skills {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.half-skills {
  margin-left: auto;
  margin-right: auto;
}
.link {
  padding: 5px;
}
.contacts {
  color: #6600ff;
}
.center {
  display: flex;
  justify-content: center;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
